# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Mac
# =========================
.DS_Store

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Outputs
# =========================
outputs/

# =========================
# Logs
# =========================
*.log

# =========================
# Data (IMPORTANT)
# =========================
data/raw/*
!data/raw/
!data/raw/Profile_1.csv

data/simulation/